.avatar {
  height: 100%;
}
.profile {
  height: 80px;
  width: 40px;
}
.description {
  background-color: bisque;
}
.stats {
  display: flex;
  background-color: beige;
}
.label {
  font-size: 10px;
  color: gray;
}
.quantity {
  font-size: 14px;
  color: black;
}
